<nav xmlns:th="http://www.thymeleaf.org"
     class="navbar navbar-dark bg-dark flex-md-nowrap p-1 shadow">
    <div class="container-fluid">
        <div th:if="${#request.userPrincipal != null}">
        <span class="navbar-text font-weight-bold" style="color: white"
              th:text="${userThis.getEmail()}">
        </span>

        <span class="navbar-text" style="color: white"
              th:text="' with roles: ' + ${#strings.arrayJoin(userThis.getRoles(), ' ')}">
        </span>
        </div>

        <div th:if="${#request.userPrincipal == null}">
        <span class="navbar-text font-weight-bold" style="color: white"
              th:text="'Привет Гость.'">
        </span>

        <span class="navbar-text" style="color: white"
              th:text="'пожалуйста авторизуйся'">
        </span>
        </div>
        <div>
            <ul class="navbar-nav">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
                    <a class="nav-link" th:if="${#request.userPrincipal == null}" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>